.nav_bar {
    border: solid;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 15px 40px 15px 15px;
}

.nav_bar-item {
    font-weight: bold;
    margin: 0 30px 0 30px;
    color: coral;
    text-decoration: none;
}

.nav_bar-item-a {
    text-decoration: none;
    color: coral;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main_webpage {
    padding: 0 15% 10% 15%;
}

